#----------------------------------------------------------------------------
#   The confidential and proprietary information contained in this file may
#   only be used by a person authorised under and to the extent permitted
#   by a subsisting licensing agreement from ARM Limited or its affiliates.
#
#          (C) COPYRIGHT 2016 ARM Limited or its affiliates.
#              ALL RIGHTS RESERVED
#
#   This entire notice must be reproduced on all copies of this file
#   and copies of this file may only be made by a person if such person is
#   permitted to do so under the terms of a subsisting license agreement
#   from ARM Limited or its affiliates.
#
#      Version Information
#
#      Checked In          : Tue Aug 9 08:12:07 2016 +0100
#
#      Revision            : 8ac0ed4
#
#      Release Information : CoreLink SIE-200 System IP for Embedded - Global Bundle r3p2-00rel0
#
#----------------------------------------------------------------------------
#  Purpose : Example configuration file for sie200_ahb5_to_ahb5_sync_down
#----------------------------------------------------------------------------
config_name: default
parameters:
  ADDR_WIDTH    : 32  # Define the address width of AHB bridge
  DATA_WIDTH    : 32  # Define the data width of AHB bridge
  MASTER_WIDTH  : 4   # Define the width of HMASTER signal
  USER_WIDTH    : 1   # Define the width of HMASTER signal
  BURST         : 0   # Define whether support burst transfer: 0: not support, burst transfers are converted to single transfers; 1: supported
  WRITE_BUFFER  : 0   # Define whether support write buffer: 0: not support, up stream AHB need to wait for all transfer completions; 1: supported, up stream AHB do not have to wait for completion of single bufferable writes
  QS_POWER_EN   : 1
  QS_CLOCK_EN   : 1
  QM_CLOCK_EN   : 1
  QS_SYNC       : 0   # Slave side clock Q-channel is synchronous to controlled clock
  QM_SYNC       : 0   # Master side clock Q-channel is synchronous to controlled clock
  EXT_GATE_SYNC : 0   # ext_gate sideband signal is synchronous to slave side clock

