#----------------------------------------------------------------------------
#   The confidential and proprietary information contained in this file may
#   only be used by a person authorised under and to the extent permitted
#   by a subsisting licensing agreement from ARM Limited or its affiliates.
#
#          (C) COPYRIGHT 2016 ARM Limited or its affiliates.
#              ALL RIGHTS RESERVED
#
#   This entire notice must be reproduced on all copies of this file
#   and copies of this file may only be made by a person if such person is
#   permitted to do so under the terms of a subsisting license agreement
#   from ARM Limited or its affiliates.
#
#      Version Information
#
#      Checked In          : Fri Sep 16 09:51:56 2016 +0100
#
#      Revision            : 8799163
#
#      Release Information : CoreLink SIE-200 System IP for Embedded - Global Bundle r3p2-00rel0
#
#----------------------------------------------------------------------------
#  Purpose : Example configuration file for sie200_ahb5_downsizer
#----------------------------------------------------------------------------
config_name: default
parameters:
  DATA_WIDTH   : 64 # Width in bits of the slave interface the downsizer bridges from. Supports values 32, 64, 128.
  ADDR_WIDTH   : 32
  MASTER_WIDTH : 4
  USER_WIDTH   : 1
  ERR_BURST_BLOCK_ALL : 1  # 0 - Block rest of burst after an error only for wide transfers, 1 - Block independently of size
  ENDIANNESS   : 0  # 0 - little, 1 - byte-invariant big, 2 - word-invariant big
