#----------------------------------------------------------------------------
#   The confidential and proprietary information contained in this file may
#   only be used by a person authorised under and to the extent permitted
#   by a subsisting licensing agreement from ARM Limited or its affiliates.
#
#          (C) COPYRIGHT 2016 ARM Limited or its affiliates.
#              ALL RIGHTS RESERVED
#
#   This entire notice must be reproduced on all copies of this file
#   and copies of this file may only be made by a person if such person is
#   permitted to do so under the terms of a subsisting license agreement
#   from ARM Limited or its affiliates.
#
#      Version Information
#
#      Checked In          : Tue Aug 9 08:12:07 2016 +0100
#
#      Revision            : 8ac0ed4
#
#      Release Information : CoreLink SIE-200 System IP for Embedded - Global Bundle r3p2-00rel0
#
#----------------------------------------------------------------------------
#  Purpose : Example configuration file for sie200_ahb5_periph_prot
#----------------------------------------------------------------------------
config_name: default
parameters:
  PORT0_ENABLE  : 1     # Define if the master IF is used
  PORT1_ENABLE  : 1     # Define if the master IF is used
  PORT2_ENABLE  : 1     # Define if the master IF is used
  PORT3_ENABLE  : 1     # Define if the master IF is used
  PORT4_ENABLE  : 1     # Define if the master IF is used
  PORT5_ENABLE  : 1     # Define if the master IF is used
  PORT6_ENABLE  : 1     # Define if the master IF is used
  PORT7_ENABLE  : 1     # Define if the master IF is used
  PORT8_ENABLE  : 1     # Define if the master IF is used
  PORT9_ENABLE  : 1     # Define if the master IF is used
  PORT10_ENABLE : 1     # Define if the master IF is used
  PORT11_ENABLE : 1     # Define if the master IF is used
  PORT12_ENABLE : 1     # Define if the master IF is used
  PORT13_ENABLE : 1     # Define if the master IF is used
  PORT14_ENABLE : 1     # Define if the master IF is used
  PORT15_ENABLE : 1     # Define if the master IF is used
  ADDR_WIDTH    : 32    # Address Width
  DATA_WIDTH    : 32    # Data Width
  MASTER_WIDTH  : 4     # Master Width
  USER_WIDTH    : 1     # USER Width
  NONSEC_MASK   : 0     # Mask for security checking of ports: Security check ON(0) or OFF(1)

