#-----------------------------------------------------------------------------
# The confidential and proprietary information contained in this file may
# only be used by a person authorised under and to the extent permitted
# by a subsisting licensing agreement from ARM Limited.
#
#            (C) COPYRIGHT 2013-2014 ARM Limited.
#                ALL RIGHTS RESERVED
#
# This entire notice must be reproduced on all copies of this file
# and copies of this file may only be made by a person if such person is
# permitted to do so under the terms of a subsisting license agreement
# from ARM Limited.
#
#      SVN Information
#
#      Checked In          : $Date: 2013-02-08 16:27:43 +0000 (Fri, 08 Feb 2013) $
#
#      Revision            : $Revision: 236695 $
#
#      Release Information : CORTEXA53-r0p4-00rel0
#
#-----------------------------------------------------------------------------
# Purpose:
#
#   This file contains options that configure aspects of the execution
#   testbench.  You can edit this file to change these options.
#-------------------------------------------------------------------------------

# Testbench options. Set an option to yes to enable, no to disable.
TARMAC         := no    # Enable tarmac trace
OVL_ASSERTIONS := no    # Enable OVL assertions
SIM_64BIT      := no    # Use 64-bit simulation

# Test options. Set to yes to enable, no to disable.
FPU_TESTS      := no    # Build FPU tests
CRYPTO_TESTS   := no    # Build crypto tests


# Important notes:
# ================
#
#  1. If you change any of the testbench options in this file you must run
#     'make clean' on the top-level Makefile and then recompile the testbench.
#
#  2. If you enable OVL assertions you must edit the execution_tb.vc file to
#     include the path to your OVL libraries.  Add the following lines,
#     replacing <ovl_dir> with the path to you OVL libraries:
#
#       -y <ovl_dir>/std_ovl
#       +incdir+<ovl_dir>/std_ovl
#       -y <ovl_dir>/std_ovl/vlog95
#       +incdir+<ovl_dir>/std_ovl/vlog95
#
#  3. 64-bit simulation is only possible on 64-bit operating systems
