#----------------------------------------------------------------------------
#   The confidential and proprietary information contained in this file may
#   only be used by a person authorised under and to the extent permitted
#   by a subsisting licensing agreement from ARM Limited or its affiliates.
#
#          (C) COPYRIGHT 2016 ARM Limited or its affiliates.
#              ALL RIGHTS RESERVED
#
#   This entire notice must be reproduced on all copies of this file
#   and copies of this file may only be made by a person if such person is
#   permitted to do so under the terms of a subsisting license agreement
#   from ARM Limited or its affiliates.
#
#      Version Information
#
#      Checked In          : Mon Nov 21 14:40:10 2016 +0000
#
#      Revision            : 853d071
#
#      Release Information : CoreLink SIE-200 System IP for Embedded - Global Bundle r3p2-00rel0
#
#----------------------------------------------------------------------------
#  Purpose : Example configuration file for sie200_ahb5_ex_mon
#----------------------------------------------------------------------------
config_name: default
parameters:
  ADDR_WIDTH    : 32     # Address Width
  DATA_WIDTH    : 32     # Data Width
  MASTER_WIDTH  : 4      # Master signal width
  USER_WIDTH    : 1      # User extension signals width
  ID_PRESENT    : 65535  # Define the used master IDs
  TAG_MSB       : 31     # Highest address bit used on slave interface + 1 - OPTIONAL
  BUFFER_ENABLE : 0      # If set, exclusive accesses are registered. Improves synthesis timing, but adds two cycle latency to exclusive store accesses.
