#----------------------------------------------------------------------------
#   The confidential and proprietary information contained in this file may
#   only be used by a person authorised under and to the extent permitted
#   by a subsisting licensing agreement from ARM Limited or its affiliates.
#
#          (C) COPYRIGHT 2016 ARM Limited or its affiliates.
#              ALL RIGHTS RESERVED
#
#   This entire notice must be reproduced on all copies of this file
#   and copies of this file may only be made by a person if such person is
#   permitted to do so under the terms of a subsisting license agreement
#   from ARM Limited or its affiliates.
#
#      Version Information
#
#      Checked In          : Thu Dec 8 14:31:26 2016 +0000
#
#      Revision            : ae5014e
#
#      Release Information : CoreLink SIE-200 System IP for Embedded - Global Bundle r3p2-00rel0
#
#----------------------------------------------------------------------------
#  Purpose : Example configuration file for sie200_m3_m4_ahb5_adapter
#----------------------------------------------------------------------------
config_name: default
parameters:
  MSC_PRESENT : 1  # Master Security Controllers are instantiated (1) or not (0)
  CODE_MUXED  : 0  # System and data code buses are both enabled (0) or muxed and system interface is unconnected (1)

