#----------------------------------------------------------------------------
#   The confidential and proprietary information contained in this file may
#   only be used by a person authorised under and to the extent permitted
#   by a subsisting licensing agreement from ARM Limited or its affiliates.
#
#          (C) COPYRIGHT 2016 ARM Limited or its affiliates.
#              ALL RIGHTS RESERVED
#
#   This entire notice must be reproduced on all copies of this file
#   and copies of this file may only be made by a person if such person is
#   permitted to do so under the terms of a subsisting license agreement
#   from ARM Limited or its affiliates.
#
#      Version Information
#
#      Checked In          : Tue Oct 11 14:48:52 2016 +0100
#
#      Revision            : 5ae6991
#
#      Release Information : CoreLink SIE-200 System IP for Embedded - Global Bundle r3p2-00rel0
#
#----------------------------------------------------------------------------
#  Purpose : Example configuration file for sie200_ahb5_to_apb_sync
#----------------------------------------------------------------------------
config_name: default
parameters:
  ADDR_WIDTH     : 32
  MASTER_WIDTH   :  4
  REGISTER_WDATA :  0
  QS_POWER_EN    :  1
  QS_CLOCK_EN    :  1
  QM_CLOCK_EN    :  1
  QS_SYNC        :  0   # Slave side clock Q-channel is synchronous to controlled clock
  QM_SYNC        :  0   # Master side clock Q-channel is synchronous to controlled clock
  EXT_GATE_SYNC  :  0   # ext_gate sideband signal is synchronous to slave side clock

